<!-- informasi murid yang diinputkan oleh murid pada saat daftar menjadi murid -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Edit Profile</title>
</head>
<body>
    <div class="header">
        <a href="homepageStudent" class="logo" id="logo">Belajar Online</a>
        <div class="header-right">
            <a href="homepageStudent" id="home">Home</a>
            <a href="listClassStudent" id="course">My Class</a>
            <div class="dropdown">
                <button class="dropbtn">  User
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="profileStudent">Profile</a>
                    <form action="/account/logout" method="post">
                        <input type="submit" value="Log Out"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="card">
            <img src="/uploads/<%= data.photo %>" alt="Avatar">
            <br>
            <form action="/students/edit" id="editProfile" method="post">
                <input name="student_id" type="hidden" value="<%= data.student_id %>" readonly>
                <strong>Name:</strong> <input name="full_name" type="text" value="<%= data.full_name %>" readonly><br>
                <strong>Email:</strong> <input name="email" type="text" value="<%= data.email %>" readonly><br>
                <strong>Phone number:</strong> <input name="phone_number" type="text" value="<%= data.phone_number %>" readonly><br>
                <strong>Sekolah:</strong> <input name="school" type="text" value="<%= data.school %>" readonly><br>
                <strong>Kelas:</strong> <input name="level" type="text" value="<%= data.level %>" readonly><br>
                <p><button hidden id="buttonSave">Simpan Perubahan</button></p>
                <p><button hidden type="button" id="buttonCancel" onclick="toggleEdit()">Cancel</button></p>
            </form>
            <p><button onclick="toggleEdit()" class="profilebtn" id="profilebtn">Edit Profile</button></p>
          </div>
    </div>

</body>
<script>
    function toggleEdit(){
        var form = document.getElementById("editProfile");
        var elements = form.elements;
        for (var i = 0, len = elements.length; i < len; ++i) {
            elements[i].readOnly = !elements[i].readOnly;
        }
        var buttonCancel = document.getElementById("buttonCancel");
        var buttonSave = document.getElementById("buttonSave");
        buttonCancel.hidden = !buttonCancel.hidden;
        buttonSave.hidden = !buttonSave.hidden;
        //var buttonEdit = document.getElementById("profilebtn");
        //buttonEdit.hidden = !buttonEdit.hidden;
    };
</script>
</html>