<!-- informasi murid yang diinputkan oleh murid pada saat daftar menjadi murid -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Edit Profile</title>
</head>
<body>
    <div class="header">
        <a href="homepageStudent" class="logo" id="logo">Belajar Online</a>
        <div class="header-right">
            <a href="homepageStudent" id="home">Home</a>
            <a href="listClassStudent" id="course">My Class</a>
            <div class="dropdown">
                <button class="dropbtn">  User
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="profileStudent">Profile</a>
                    <a href="/account/logout">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="card">
            <img src="/uploads/<%= data.photo %>" alt="Avatar">
            <br>
            <strong>Name:</strong> <%= data.full_name %><br>
            <strong>Email:</strong> <%= data.email %><br>
            <strong>Phone number:</strong> <%= data.phone_number %><br>
            <strong>Sekolah:</strong> <%= data.school %><br>
            <strong>Kelas:</strong> <%= data.level %><br>
            <p><button class="profilebtn" id="profilebtn">Edit Profile</button></p>
          </div>
    </div>

</body>
</html>